%h1 Listing urls

%table.table 
  %tr
    %th Url long
    %th Private
    %th Password digest
    %th Url short
    %th
    %th

  - @urls.each do |url|
    %tr
      %td= url.url_long
      %td= url.private
      %td= url.password_digest
      %td= url.url_short
      %td= link_to 'Show', url
      %td= link_to 'Destroy', url, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Url', new_url_path
