%p#notice= notice

%p
  %b Url long:
  = @url.url_short
%p
  %b Url long:
  = @url.url_short
%p
  %b Private:
  = @url.private
%p
  %b Password digest:
  = @url.password_digest


= link_to 'Back', urls_path
