%p#notice= notice

%p
  %b Url long:
  = link_to @url.url_long, @url.url_long
%p
  %b Url long:
  = link_to @url.url_short, "#{root_url}#{@url.url_short}"
%p
  %b Private:
  = @url.private
%p
  %b Password digest:
  = @url.password_digest


= link_to 'Back', urls_path
